.autoScrollContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  /* 隐藏滚动条 */
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollContent {
  display: flex;
  flex-direction: column;
}
