$scaleSize: var(--scaleSize, 1);

.chart6Content {
  width: 100%;
  height: 100%;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 12px 0;
  border-bottom: 3px solid;
  border-top: 3px solid;
  border-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      #00fcf9 50%,
      rgba(255, 255, 255, 0) 99%
    )
    2 2 2 2;
}

.divide {
  height: 1px;
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px dashed #3c5b78;
}

.eachBlock {
  display: flex;
  align-items: center;
  flex-direction: column;

  .title {
    font-size: calc($scaleSize * 0.53vw);
    color: white;
  }

  .value {
    font-family: dsDig;
    font-size: calc($scaleSize * 0.97vw);
    line-height: calc($scaleSize * 0.97vw);
    color: #00fcf9;
  }
}

.expanded {
  .eachBlock {
    .title {
      font-size: calc($scaleSize * 0.9vw);
    }

    .value {
      font-size: calc($scaleSize * 1.6vw);
      line-height: calc($scaleSize * 1.6vw);
    }
  }
}
