.moduleLoading {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.8s ease;
  background: #001d43;

  .loadingTxt {
    margin-bottom: 24px;
    font-family: DIGI;
    font-size: 32px;
    color: #2bfffe;
    letter-spacing: 12px;
    font-weight: 600;
  }

  .progressWrapper {
    width: 100%;
    padding: 0 38%;
  }

  .progressInner {
    width: 100%;
    height: 8px;
    overflow: hidden;
    position: relative;
    background: #001d43;
    border-radius: 100px;
    box-shadow: 0px 0px 10px 5px #7890b0;
    border-bottom: 1px solid #ffffff;
  }

  .progressBg {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    background: #09fcf9;
    box-shadow: 0px 0px 10px 5px #3b8cf8;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 4s linear;
    will-change: transform;
  }
}

.fadeOut {
  opacity: 0 !important;
}
