.moduleBox {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  background-image: url("/bg.png");
  background-color: #081c42;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  backface-visibility: hidden;
  overflow: hidden;
}
