.cardWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #09668424 0%, #09121524 100%);

  &::before {
    content: "";
    width: 6px;
    height: 6px;
    left: 0;
    bottom: 0;
    position: absolute;
    background-image: url("/icon7.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
  }

  &::after {
    content: "";
    width: 6px;
    height: 6px;
    right: 0;
    bottom: 0;
    position: absolute;
    background-image: url("/icon8.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
  }
}

.title {
  position: relative;
  width: 100%;
  height: 40px;
  padding-left: 16px;
  font-size: 18px;
  text-align: left;
  color: #ffffff;
  line-height: 40px;
  background-image: linear-gradient(90deg, #00e7ff14, #01162a14);
  display: flex;
  justify-content: space-between;
  align-items: center;
  .titleName {
    background-image: -webkit-linear-gradient(top, #ffffff, #548fab);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: PuHuiTi;
  }

  &::before {
    content: "";
    width: 20px;
    height: 40px;
    left: -7px;
    top: 0;
    position: absolute;
    background-image: url("/icon5.png");
    background-repeat: no-repeat;
    background-size: 20px 40px;
    background-position: center;
  }
}

.titleRight {
  display: flex;

  .amplifyIcon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/icon23.png");

    &:hover {
      background-image: url("/icon21.png");
    }
  }
}
